{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    TODO
    <div class="main d-flex flex-row  flex-gapc " style="gap:10px;">
        {% for list in all_active_lists %}
        <div class="card" style="width: 18rem;">
            <img src="{{list.list_image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{list.list_title}}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">view that item</a>
            </div>
          </div>
          {% endfor %}
    </div>
{% endblock %}