{% extends "auctions/layout.html" %}



{% block body %}
{% for l in current_list%}
<div class="card">
    <h1>
        {{l.list_title}}
    </h1>

    {% if  user in l.list_watch_list.all %}

    <form action="{% url 'removethelist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="num" value="{{l.pk}}">
        <button type="submit">remove from Watch list</button>
    </form>
    {% else%}
    
    <form action="{% url 'addToWatchList' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="num" value="{{l.pk}}">
        <button type="submit">Add to Watch list</button>
    </form>
    
    {% endif %}
    <!-- work on remove itme from watch list method -->

</div>
{% endfor%}
{% endblock%}