{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'creatnewlist' %}" method="post">
        {% csrf_token %}
        <div class="text-center">

            <ul class="list-none">
                <li>
                    <div class="">
                        <label class="block font-[700]" for="title">List Title</label>
                        <input class="border-[2px] border-[gray] rounded" type="text" name="title" id="title" required>        
                    </div>
                </li>
                
                <li>
                    <div class="">
                        <label class="block font-[700]" for="ImageUrl">ImageUrl</label>
                        <input class="border-[2px] border-[gray] rounded" type="text" name="ImageUrl" id="ImageUrl" required>        
                    </div>
                </li>
                <li>
                    <div class="">
                        <label class="block font-[700]" for="starting bid">starting bid</label>
                        <input class="border-[2px] border-[gray] rounded" type="number" name="starting_bid" id="starting_bid" required>        
                    </div>
                </li>
                <li>
                    <div class="">
                        <label class="block font-[700]" for="description">description</label>
                        <textarea class="border-[2px] border-[gray] rounded resize-none" name="description" id="description" cols="30" rows="5"></textarea>
                    </div>
                </li>
                <li>
                    <div class="">
                        <label class="block font-[700]" for="category"> select a category</label>
                        <select  id="category" name="category">
                            {% for catg in all_catagoreys %}
                            <option value="{{catg.catogory_name}}">
                                {{catg.catogory_name}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
            </ul>
            <button class=" mt-[10px] bg-[#000] text-[white] px-[10px] py-[5px] font-[700] rounded" type="submit">submit</button>
        </div>
        </form>
        {% endblock %}